./terraform/*
cluster/.terraform/*
modules/ec2-cluster/.terraform/*
modules/bastion-host/.terraform/*
.logs
*.tfstate
crash.log
lock.json
*.key
*.key.pub
go.mod
go.sum
__pycache__
boto3
.test-data
.vagrant
